<style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Quicksand&display=swap');
    body {
        padding: 0;
        margin: 0;
    }
    
    .container {
        --persian-plum: #752323;
        --blond: #FFF8BB;
        --lobster-two: 'Lobster Two', cursive;
        --quick-sand: 'Quicksand', sans-serif;
        padding-bottom: 20px;
    }

    .landing {
        display: flex;
        align-items: center;
        font-size: 300%;
    }

    h1:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    img {
        width: 700px;
    }
    .container {
        background: var(--persian-plum);
        display: flex;
        flex-direction: column;
        align-items: center;

        color: var(--blond);
        font-family: var(--lobster-two);
    }

    form, p {
        height: 100%;
        font-family: var(--quick-sand);
    }
    label {
        font-size: 300%;
        margin-bottom: 40px;
    }
    input {
        cursor: pointer;
        margin-bottom: 20px;
    }

    .button {
        background-color: var(--blond); /* Green */
        border: none;
        color: var(--persian-plum);
        padding: 2% 3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 7px;
    }

    .button:hover {
        transform: scale(1.1)
    }
    
</style>

{{#if process}}
<div class="container">
    <div class="landing">
        <img src="/LandingGraphic.png" alt="landing graphic" />
        <h1>Welcome, {{firstName}}</h1>
    </div>
<form method="POST" action="/hackerCheckIn">
    <label for="eventId">Choose an event to check in:</label><br>
    {{#each table}}
    <input type="radio" name="eventId" value="{{id}}" required/>{{eventName}}<br>
    {{/each}}
    <input type="hidden" name="hackerId" value="{{hackerId}}" />
    <input class="button" type="submit" />
</form>
</div>

{{else if success}}
<div>
    <h1 class="container">Success</h1>
</div>

{{else if fail}}
<div class="container">
    <h1>Unable to check in</h1>
    <p>However, it looks that you are already checked in for this event.
        If you think there might have been a mistake, please reach out to one of the volunteers.
    </p>
</div>
{{/if}}