<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
        <th><a href="/sendEmail/all">Send Email to All</a></th>
    </tr>
    {{#each table}}
    <tr>
        <td><a href="/hacker/{{id}}/profile">{{id}}</a></td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{email}}</td>
        <td>
            <a href="/sendEmail/{{id}}">Send Email</a>
            <a href="/hacker/{{id}}/delete">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>
<script></script>